include mixins/navbar
include mixins/search_nav

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,800')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/nightmode_twitter_core.bundle.css')
    link(rel='stylesheet', href='/css/nightmode_twitter_more_1.bundle.css')
    link(rel='stylesheet', href='/css/nightmode_twitter_more_2.bundle.css')
    link(rel="preload", href="/js/tw.init.en.js", as="script")
    link(rel="preload", href="/js/tw.commons.en.js", as="script")

  body.logged-in.user-style-johnfpendleton.ms-windows.NotificationsPage.no-nav-banners.supports-drag-and-drop.buffer-twitter
    #doc.route-connect
      +navbar
      +search_nav
      #page-outer
        #page-container.AppContent.wrapper.wrapper-connect
          block alert
          .AppContainer
            .AppContent-main.u-cf
              .Grid.Grid--with-gutter
              
                .Grid-cell.u-size1of3.u-lg-size1of4
                  .SidebarCommonModules
                  
                .Grid-cell.u-size2of3.u-lg-size3of4
                  .Grid.Grid--with-gutter
                    .Grid-cell.u-size2of2.u-lg-size2of3
                        block content

    script(src='js/jquery.min.js')
    script(src='js/boostrap.min.js')
    script(src='js/alert.min.js')
    script(src='js/button.min.js')
    script(src='js/carousel.min.js')
    script(src='js/collapse.min.js')
    script(src='js/dropdown.min.js')
    script(src='js/index.min.js')
    script(src='js/modal.min.js')
    script(src='js/popover.min.js')
    script(src='js/scrollspy.min.js')
    script(src='js/tab.min.js')
    script(src='js/tooltip.min.js')
    script(src='js/util.min.js')
